.card{
    border: 1px solid rgb(151, 46, 114);
    border-radius: 8px;
    overflow: hidden;
    
    h3, p{
        padding: 14px;
        text-align: center;
    }
    button ·#comprar-btn {
        margin: 10px;
        padding-right: 110px;
        padding-left: 120px;
        
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        
    }
    

}